
@{
    ViewData["Title"] = "Dashboard";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="row">
    <div class="col-md-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>
                    ارزهای موجود
                    <small>زیر عنوان جدول پایه</small>
                </h2>
                <ul class="nav navbar-right panel_toolbox">
                    <li>
                        <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                    </li>
                    <li>
                        <a class="close-link"><i class="fa fa-close"></i></a>
                    </li>
                </ul>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <div class="col-md-3 col-sm-3 col-xs-12 profile_left">
                    <div class="profile_img">
                        <div id="crop-avatar">
                            <!-- Current avatar -->
                            <img class="img-responsive avatar-view"
                                 src="~/Content/images/Coins/ETH.jpg"
                                 alt="Avatar"
                                 title="Change the avatar">
                        </div>
                    </div>
                    <h3>اتریوم</h3>

                    <ul class="list-unstyled user_data">
                        <li>
                            <i class="fa fa-thumbs-up"></i>
                            بهترین خرید:&nbsp;<span style="color:#00dccd">23,001</span>تومان
                        </li>

                        <li>
                            <i class="fa fa-thumbs-down"></i>
                            بهترین فروش:&nbsp;<span style="color:#ff0070">23,080</span>تومان
                        </li>

                        <li>
                            <i class="fa fa-briefcase user-profile-icon"></i>
                            دارایی شما:&nbsp;<span style="color:#000000">2000,080</span>تومان
                        </li>

                    </ul>
                    <a href="#" style="width:90%;background-color:#0455ac" class="btn  btn-primary">معامله</a>
                </div>
                <div class="col-md-3 col-sm-3 col-xs-12 profile_left">
                    <div class="profile_img">
                        <div id="crop-avatar">
                            <!-- Current avatar -->
                            <img class="img-responsive avatar-view"
                                 src="~/Content/images/Coins/BTC.jpg"
                                 alt="Avatar"
                                 title="Change the avatar">
                        </div>
                    </div>
                    <h3>بیتکوین</h3>

                    <ul class="list-unstyled user_data">
                        <li>
                            <i class="fa fa-thumbs-up"></i>
                            بهترین خرید:&nbsp;<span style="color:#00dccd">23,001</span>تومان
                        </li>

                        <li>
                            <i class="fa fa-thumbs-down"></i>
                            بهترین فروش:&nbsp;<span style="color:#ff0070">23,080</span>تومان
                        </li>

                        <li>
                            <i class="fa fa-briefcase user-profile-icon"></i>
                            دارایی شما:&nbsp;<span style="color:#000000">2000,080</span>تومان
                        </li>

                    </ul>
                    <a href="#" style="width:90%;background-color:#0455ac" class="btn  btn-primary">معامله</a>
                </div>
                <div class="col-md-3 col-sm-3 col-xs-12 profile_left">
                    <div class="profile_img">
                        <div id="crop-avatar">
                            <!-- Current avatar -->
                            <img class="img-responsive avatar-view"
                                 src="~/Content/images/Coins/BCH.jpg"
                                 alt="Avatar"
                                 title="Change the avatar">
                        </div>
                    </div>
                    <h3>بیتکوین کش</h3>

                    <ul class="list-unstyled user_data">
                        <li>
                            <i class="fa fa-thumbs-up"></i>
                            بهترین خرید:&nbsp;<span style="color:#00dccd">23,001</span>تومان
                        </li>

                        <li>
                            <i class="fa fa-thumbs-down"></i>
                            بهترین فروش:&nbsp;<span style="color:#ff0070">23,080</span>تومان
                        </li>

                        <li>
                            <i class="fa fa-briefcase user-profile-icon"></i>
                            دارایی شما:&nbsp;<span style="color:#000000">2000,080</span>تومان
                        </li>

                    </ul>
                    <a href="#" style="width:90%;background-color:#0455ac" class="btn  btn-primary">معامله</a>
                </div>
                <div class="col-md-3 col-sm-3 col-xs-12 profile_left">
                    <div class="profile_img">
                        <div id="crop-avatar">
                            <!-- Current avatar -->
                            <img class="img-responsive avatar-view"
                                 src="~/Content/images/Coins/USDT.jpg"
                                 alt="Avatar"
                                 title="Change the avatar">
                        </div>
                    </div>
                    <h3>تتر</h3>

                    <ul class="list-unstyled user_data">
                        <li>
                            <i class="fa fa-thumbs-up"></i>
                            بهترین خرید:&nbsp;<span style="color:#00dccd">23,001</span>تومان
                        </li>

                        <li>
                            <i class="fa fa-thumbs-down"></i>
                            بهترین فروش:&nbsp;<span style="color:#ff0070">23,080</span>تومان
                        </li>

                        <li>
                            <i class="fa fa-briefcase user-profile-icon"></i>
                            دارایی شما:&nbsp;<span style="color:#000000">2000,080</span>تومان
                        </li>

                    </ul>
                    <a href="#" style="width:90%;background-color:#0455ac" class="btn  btn-primary">معامله</a>
                </div>

            </div>

        </div>

    </div>
    <div class="col-md-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>
                    سطح کاربری شما
                    <small>بر اساس حجم معاملات</small>
                </h2>
                <ul class="nav navbar-right panel_toolbox">
                    <li>
                        <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                    </li>
                    <li>
                        <a class="close-link"><i class="fa fa-close"></i></a>
                    </li>
                </ul>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <div class="col-md-3 col-sm-3 col-xs-12 profile_left">
                    <div class="profile_img">
                        <div id="crop-avatar">
                            <!-- Current avatar -->
                            <img class="img-responsive avatar-view"
                                 src="~/Content/images/levels/icons8-medal-third-place-80.png"
                                 alt="Avatar"
                                 title="Change the avatar">
                        </div>
                    </div>
                    <h3>سطح سوم</h3>

                    <ul class="list-unstyled user_data">
                        <li>
                            <i class="fa fa-percent"></i>
                            کارمزد:&nbsp;<span style="color:#ff005d">0.4</span>درصد
                        </li>
                    </ul>
                </div>
                <div style="border-style: dashed;border-color: green;" class="col-md-3 col-sm-3 col-xs-12 profile_left">
                    <div class="profile_img">
                        <div id="crop-avatar">
                            <!-- Current avatar -->
                            <img class="img-responsive avatar-view"
                                 src="~/Content/images/levels/icons8-medal-second-place-80.png"
                                 alt="Avatar"
                                 title="Change the avatar">
                        </div>
                    </div>
                    <h3>سطح دوم</h3>

                    <ul class="list-unstyled user_data">
                        <li>
                            <i class="fa fa-percent"></i>
                            کارمزد:&nbsp;<span style="color:#ff005d">0.35</span>درصد
                        </li>
                    </ul>
                </div>
                <div class="col-md-3 col-sm-3 col-xs-12 profile_left">
                    <div class="profile_img">
                        <div id="crop-avatar">
                            <!-- Current avatar -->
                            <img class="img-responsive avatar-view"
                                 src="~/Content/images/levels/icons8-medal-first-place-80.png"
                                 alt="Avatar"
                                 title="Change the avatar">
                        </div>
                    </div>
                    <h3>سطح اول</h3>

                    <ul class="list-unstyled user_data">
                        <li>
                            <i class="fa fa-percent"></i>
                            کارمزد:&nbsp;<span style="color:#ff005d">0.3</span>درصد
                        </li>
                    </ul>
                </div>
                <div class="col-md-3 col-sm-3 col-xs-12 profile_left">
                    <div class="profile_img">
                        <div id="crop-avatar">
                            <!-- Current avatar -->
                            <img class="img-responsive avatar-view"
                                 src="~/Content/images/levels/icons8-trophy-80.png"
                                 alt="Avatar"
                                 title="Change the avatar">
                        </div>
                    </div>
                    <h3>سطح قهرمان</h3>

                    <ul class="list-unstyled user_data">
                        <li>
                            <i class="fa fa-percent"></i>
                            کارمزد:&nbsp;<span style="color:#ff005d">0.25</span>درصد
                        </li>
                    </ul>
                </div>
                <hr />

                <div class="col-md-12 col-sm-12 col-xs-12">
                    <span>12,000,000/14,000,000 میزان معامله</span>
                    <div class="progress right">
                        <div class="progress-bar progress-bar-success" data-transitiongoal="95"></div>
                    </div>
                </div>
            </div>

        </div>

    </div>
    <div class="col-md-12 ">
        <div class="x_panel">
            <div class="x_title">
                <h2>
                    سفارشات فعال
                </h2>
                <ul class="nav navbar-right panel_toolbox">
                    <li>
                        <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                    </li>

                    <li>
                        <a class="close-link"><i class="fa fa-close"></i></a>
                    </li>
                </ul>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">

                <table class="table table-striped">
                    <thead style="background-color:#34495e;color:white">
                        <tr>
                            <th>#</th>
                            <th>نوع سفارش</th>
                            <th>بازار</th>
                            <th>مقدار</th>
                            <th>قیمت واحد</th>
                            <th>قیمت کل</th>
                            <th>پر شده</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td colspan="7" style=" text-align: center;font-size:xx-large" class="not_available">موجود نیست</td>
                        </tr>
                    </tbody>
                </table>

            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="x_panel">
            <div class="x_title">
                <h2>
                    کیف های من
                    <small>دارایی</small>
                </h2>
                <ul class="nav navbar-right panel_toolbox">
                    <li>
                        <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                    </li>

                    <li>
                        <a class="close-link"><i class="fa fa-close"></i></a>
                    </li>
                </ul>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <ul class="list-unstyled msg_list">
                    <li>
                        <a>
                            <span>
                                <img style="width:32px;height:32px;" src="~/Content/images/Coins/rial.svg" alt="img" />
                            </span>
                        </a>
                        <span style=" width: 20%;padding:5px">
                            <a style="width: 100%" class="btn btn-success">واریز</a>
                        </span>
                        <span style=" width: 20%;padding:5px ">
                            <a style="width: 100%;" class="btn btn-danger">برداشت</a>
                        </span>

                        <span style=" width: 50%;padding:5px">
                            <a style="width: 100%;" class="btn btn-default">موجودی  123.23 ریال</a>
                        </span>
                    </li>
                    <li>
                        <a>
                            <span>
                                <img src="~/Content/images/Coins/icon32/btc.png" alt="img" />
                            </span>
                        </a>

                        <span style=" width: 20%;padding:5px">
                            <a style="width: 100%" class="btn btn-success">واریز</a>
                        </span>
                        <span style=" width: 20%;padding:5px ">
                            <a style="width: 100%;" class="btn btn-danger">برداشت</a>
                        </span>
                        <span style=" width: 20%;padding:5px">
                            <a style="width: 100%;" class="btn btn-info">معامله</a>
                        </span>

                        <span style=" width: 50%;padding:5px">
                            <a style="width: 100%;" class="btn btn-default">موجودی  123.23 BTC</a>
                        </span>
                    </li>
                    <li>
                        <a>
                            <span>
                                <img src="~/Content/images/Coins/icon32/bch.png" alt="img" />
                            </span>
                        </a>
                        <span style=" width: 20%;padding:5px">
                            <a style="width: 100%" class="btn btn-success">واریز</a>
                        </span>
                        <span style=" width: 20%;padding:5px ">
                            <a style="width: 100%;" class="btn btn-danger">برداشت</a>
                        </span>
                        <span style=" width: 20%;padding:5px">
                            <a style="width: 100%;" class="btn btn-info">معامله</a>
                        </span>

                        <span style=" width: 50%;padding:5px">
                            <a style="width: 100%;" class="btn btn-default">موجودی  123.23 BTC</a>
                        </span>
                    </li>
                    <li>
                        <a>
                            <span>
                                <img src="~/Content/images/Coins/icon32/usdt.png" alt="img" />
                            </span>
                        </a>
                        <span style=" width: 20%;padding:5px">
                            <a style="width: 100%" class="btn btn-success">واریز</a>
                        </span>
                        <span style=" width: 20%;padding:5px ">
                            <a style="width: 100%;" class="btn btn-danger">برداشت</a>
                        </span>
                        <span style=" width: 20%;padding:5px">
                            <a style="width: 100%;" class="btn btn-info">معامله</a>
                        </span>

                        <span style=" width: 50%;padding:5px">
                            <a style="width: 100%;" class="btn btn-default">موجودی  123.23 BTC</a>
                        </span>
                    </li>
                    <li>
                        <a>
                            <span>
                                <img src="~/Content/images/Coins/icon32/eth.png" alt="img" />
                            </span>
                        </a>
                        <span style=" width: 20%;padding:5px">
                            <a style="width: 100%" class="btn btn-success">واریز</a>
                        </span>
                        <span style=" width: 20%;padding:5px ">
                            <a style="width: 100%;" class="btn btn-danger">برداشت</a>
                        </span>
                        <span style=" width: 20%;padding:5px">
                            <a style="width: 100%;" class="btn btn-info">معامله</a>
                        </span>

                        <span style=" width: 50%;padding:5px">
                            <a style="width: 100%;" class="btn btn-default">موجودی  123.23 BTC</a>
                        </span>
                    </li>

                </ul>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="x_panel">
            <div class="x_title">
                <h2>
                    آخرین معاملات
                </h2>
                <ul class="nav navbar-right panel_toolbox">
                    <li>
                        <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                    </li>

                    <li>
                        <a class="close-link"><i class="fa fa-close"></i></a>
                    </li>
                </ul>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">

                <table class="table table-striped">
                    <thead style="background-color:#34495e">
                        <tr>
                            <th>#</th>
                            <th>نوع سفارش</th>
                            <th>بازار</th>
                            <th>مقدار</th>
                            <th>قیمت واحد</th>
                            <th>تاریخ</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td colspan="6" style=" text-align: center;font-size:xx-large" class="not_available">موجود نیست</td>
                        </tr>
                    </tbody>
                </table>

            </div>
        </div>
    </div>

</div>

