
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .my-custom-scrollbar {
        position: relative;
        height: 300px;
        overflow: auto;
    }

    .table-wrapper-scroll-y {
        display: block;
    }

    .small-alert {
        background-color: white;
        padding: 5px;
        border-radius: 15px;
        width: fit-content;
        margin-right: 25%;
        border-style: solid;
        border-color: #ff0074;
    }

    .disable-button {
        font-size: 12px;
        padding: 1px;
        padding-left: 10px;
        padding-right: 10px;
        width: -webkit-fill-available;
        border-color: red;
    }

    .costume-hr {
        margin-top: 10px;
        margin-bottom: 10px;
    }
</style>

<div class="row">
    <div class="col-md-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>
                    نمودار جهانی بیتکوین
                </h2>
                <ul class="nav navbar-right panel_toolbox">
                    <li>
                        <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                    </li>
                    <li>
                        <a class="close-link"><i class="fa fa-close"></i></a>
                    </li>
                </ul>
                <div class="clearfix"></div>
            </div>
            <div style="min-height:400px" class="x_content">
                <!-- TradingView Widget BEGIN -->
                <!-- TradingView Widget BEGIN -->
                <div class="tradingview-widget-container">
                    <div id="tradingview_7341f"></div>
                    <div class="tradingview-widget-copyright"><a href="https://www.tradingview.com/symbols/BITSTAMP-BTCUSD/" rel="noopener" target="_blank"><span class="blue-text">BTCUSD Chart</span></a> by TradingView</div>
                    <script type="text/javascript" src="https://s3.tradingview.com/tv.js"></script>
                    <script type="text/javascript">
                        new TradingView.widget(
                            {
                                "width": 700,
                                "height": 450,
                                "symbol": "BITSTAMP:BTCUSD",
                                "interval": "D",
                                "timezone": "Etc/UTC",
                                "theme": "light",
                                "style": "1",
                                "locale": "en",
                                "toolbar_bg": "#f1f3f6",
                                "enable_publishing": true,
                                "hide_side_toolbar": false,
                                "allow_symbol_change": true,
                                "container_id": "tradingview_7341f"
                            }
                        );
                    </script>

                </div>
                <!-- TradingView Widget END -->
                <!-- TradingView Widget END -->
            </div>

        </div>

    </div>
</div>

